.timeline {
  position: relative;
  display: flex;
  flex-direction: column;
  height: var(--timeline-height);
  background-color: var(--timeline-color);
}

.scroll-container {
  height: 100%;
  overflow: scroll;
  overscroll-behavior: none;
  touch-action: pan-x pan-y;
}

.scroll-container::-webkit-scrollbar {
  background-color: var(--timeline-color);
}

.scroll-container::-webkit-scrollbar-corner {
  background-color: var(--timeline-color);
}

.scroll-container::-webkit-scrollbar-thumb {
  border: 4px solid transparent;
  border-radius: 16px;
  background-color: var(--grey-500);
  background-clip: content-box;
}

.track-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: var(--timeline-left-padding);
  width: var(--track-container-width);
  height: var(--track-container-height);
}

.track {
  height: var(--track-height);
  border-radius: var(--border-radius);
  background-color: var(--track-color);
}

.track:not(:last-child) {
  margin-bottom: 8px;
}
